<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <meta charset="UTF-8">
    <title>高通量染色体测序数据增强</title>
</head>
<body>
    <div class="main-container full-height bg-light-gray">
        <header class="header">
            <div class="softobar">
                <div class="softobar-container">
                    <nav class="softobar-nav">
                        <ul class="softobar-links">
                            <li class="nav-item  new-item ">
                                <a href="{{ url_for('index') }}">系统首页</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-main  sticky-header ">
                <div class="container">
                    <div class="header-wrapper">
                        <div class="logo">
                            <svg width="40" height="30" viewBox="0 0 40 30">
                                <path fill="#ff3333" d="M15.047 30C6.737 30 0 23.284 0 15 0 6.716 6.737 0 15.047 0s15.047 6.716 15.047 15c0 8.284-6.736 15-15.047 15zM24.3 15.111c.028-2.353-1.332-4.866-3.121-6.667-3.121-3.088-7.558-2.923-10.924-1.333 2.898.242 4.58 1.214 6.242 2.889 1.696 1.673 2.229 2.95 2.23 5.111h-2.899l5.574 6.222 5.573-6.222h-2.675zM5.796 14.89c-.029 2.353 1.332 4.866 3.12 6.667 3.122 3.088 7.558 2.923 10.924 1.333-2.898-.242-4.579-1.214-6.242-2.889-1.695-1.673-2.229-2.95-2.229-5.111h2.898L8.694 8.667l-5.573 6.222h2.675z"></path>
                                <font size="5" face="verdana" color="black">高通量染色体测序数据(Hi-C Data)增强系统</font>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% block main %} {% endblock %}
    </div>
</body>
</html>